fastapi
uvicorn[standard]
SQLAlchemy
alembic
# psycopg2-binary==2.9.10
pymysql
pydantic
pydantic-settings
python-socketio
redis
PyJWT
argon2-cffi
python-multipart
email-validator
firebase-admin
celery[redis]
